<div class="card shadow-lgv" style="padding: 2rem 10rem">
    <h1 class="text-center">Registro</h1>
    <form
        id="formRegister"
        action="/api/v1/signup"
        method="post"
        class="d-flex align-items-center flex-column"
    >

         <div class="mb-3">
            <input
                type="email"
                name="email"
                placeholder="Email"
                required
            />
        </div>

        <div class="mb-3">
            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            />
        </div>

        <div class="mb-3">
            <input type="text" name="name" placeholder="Nombre" required />
        </div>

        <div class="mb-3">
            <input
                type="text"
                name="address"
                placeholder="Dirección"
                required
            />
        </div>

        <div class="mb-3">
            <input
                type="date"
                name="birthDate"
                placeholder="Fecha de nacimiento"
                required
            />
        </div>

        <div class="mb-3">
            <input
                type="tel"
                name="phone"
                placeholder="+54911xxxxxxxx"
                required
            />
        </div>
        
        <div class="mb-3">
            <input type="file" name="photo" />
        </div>

        <div class="mb-3">
            <button type="submit">Registrarse</button>
        </div>

        <div class="mb-3"><p>¿Ya tenés cuenta?
                <a href="/login">Iniciá sesión</a></p></div>
    </form>
</div>

<script src="js/register.js"></script>